body{
    background-color: rgba(14, 14, 14, 0.877);
}

.titulo-principal{
    text-align: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 40px;
    font-style: italic;
}

.buscar{
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
}



.gifs{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif{
    padding: 0 2px;
}

.cargar{
    text-align: center;
}